/*PAGINA "NUESTRA VISION" "QUIENES SOMOS" "CONSULTORIA"*/

#imagenPlaneta {
    background-image: url(../recursos/tierra.jpg);
}
#imagenLibro {
    background-image: url(../recursos/libroRectangular.jpg);
}

.imagenRectangular  {
    height: 80px;
    background-position: center;
    background-size: cover;
}
.imagenRedonda {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    @media (max-width: $sm) {
        .imagenRedonda {
            max-width: 300px;
        }
    }
    @media (min-width: $xl) {
        .imagenRedonda {
            max-width: 350px;
        }
    }
}    







/*FIN PAGINA "NUESTRA VISION" "QUIENES SOMOS" "CONSULTORIA"*/